<html>
<body>



    Profiles:
    <#if profiles??>
        <#list profiles as profile>
<a href="/messages?id=${profile.id}">


            <h3>${profile.name}</h3>
            <h3>${profile.surname}</h3>
            <img style="width: 150px;height: 150px" src=${profile.imgUrl}>
            <!--
                "https://scontent.fiev9-1.fna.fbcdn.net/v/t1.6435-9/100063325_3065270396867687_1369217968893853696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=HtIe2ueOHTgAX9WBur-&_nc_ht=scontent.fiev9-1.fna&oh=00_AfDSqfrydSyDOpcbnMqwwnoc2YZ8vbZcn43BMqU2OxcFJg&oe=64096BD8"
                -->


</a>
        </#list>
    </#if>



</body>
</html>