<!--
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>People list</title>

   Bootstrap core CSS
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    -->
    <!-- Custom styles for this template
       <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">



</head>
<body>
<form action="/users"  method="post" >
<h3>FRED SMITH</h3>

<img style="width: 150px;height: 150px" src="https://scontent.fiev9-1.fna.fbcdn.net/v/t1.6435-9/100063325_3065270396867687_1369217968893853696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=HtIe2ueOHTgAX9WBur-&_nc_ht=scontent.fiev9-1.fna&oh=00_AfDSqfrydSyDOpcbnMqwwnoc2YZ8vbZcn43BMqU2OxcFJg&oe=64096BD8">

<input type="checkbox" value="YES"  name='param1'/>
    <input type="checkbox" value="No" name='param2'/>

    <input  type="submit" value="Submit">
</form>


</body></html>   -->

<html>
<body>


<form action="/users"  method="post" >
   Profiles:
    <#if profiles??>
    <#list profiles as profile>

    <h3>${profile.name}</h3>
    <h3>${profile.surname}</h3>
    <img style="width: 150px;height: 150px" src=${profile.imgUrl}>
<!--
    "https://scontent.fiev9-1.fna.fbcdn.net/v/t1.6435-9/100063325_3065270396867687_1369217968893853696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=HtIe2ueOHTgAX9WBur-&_nc_ht=scontent.fiev9-1.fna&oh=00_AfDSqfrydSyDOpcbnMqwwnoc2YZ8vbZcn43BMqU2OxcFJg&oe=64096BD8"
    -->
    <input type="checkbox" value="YES"  name='param1'/>
    <input type="checkbox" value="No" name='param2'/>

    <input  type="submit" value="Submit">
</#list>
</#if>

</form>

</body>
</html>